# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environment directories
venv/
env/
djangoenv/
.venv/
.env/

# Django migration files
**/migrations/
!**/migrations/__init__.py

# SQLite database files
*.sqlite3
db.sqlite3

# Django static and media directories
static/
media/

# Django secret key and settings
*.env
.env

# VS Code
.vscode/
.history/

# PyCharm
.idea/
*.iml

# Sublime Text
*.sublime-project
*.sublime-workspace

# Atom
.atom/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
*~

# Log files
*.log

# Coverage reports
.coverage
.coverage.*
.cache/
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Test directories
test_*/
tests/

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Jupyter Notebook
.ipynb_checkpoints/

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Celery beat schedule file
celerybeat-schedule

# dotenv
.env

# mypy
.mypy_cache/
